Write a Python program to count the number of characters (character frequency) in a string. Sample String : google.com
Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
string = "Google.com"
freq = {}

for char in string:
    if char in freq:
        freq[char] = 1
        freq[char] = freq[char] + 1
    else:
        freq[char] = 1

print(freq)

{'G': 1, 'o': 2, 'g': 1, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

Write a Python program to check if a given key already exists in a dictionary. 3. Write a Python program that accepts a sequence of comma-separated numbers

In [ ]:
my_dict = {'name': 'Tanvir', 'age': 31, 'city': 'New York'}

key = input("Enter the key to check: ")

if key in my_dict:
    print("The key '{}' already exists in the dictionary".format(key))
else:
    print("The key '{}' does not exist in the dictionary".format(key))

Enter the key to check: fgfg
The key 'fgfg' does not exist in the dictionary

Write a Python program to check if a given key already exists in a dictionary. 3. Write a Python program that accepts a sequence of comma-separated numbers from the
user and generates a list and a tuple of those numbers. Sample data : 1, 5, 7, 23
Expected Output :
List : ['1', ' 5', ' 7', ' 23']
Tuple : ('1', ' 5', ' 7', ' 23')

In [ ]:
user_input = input("Enter a sequence of comma-separated numbers: ")

numbers_list = user_input.split(",")

numbers_list = [number.strip() for number in numbers_list]

numbers_tuple = tuple(numbers_list)

print("List:", numbers_list)
print("Tuple:", numbers_tuple)

Enter a sequence of comma-separated numbers: 1,2,3,4,5,6,7
List: ['1', '2', '3', '4', '5', '6', '7']
Tuple: ('1', '2', '3', '4', '5', '6', '7')

Write a Python program to calculate the number of days between two dates. Sample dates : (2014, 7, 2), (2014, 7, 11)
Expected output : 9 days

In [ ]:
from datetime import date

date1_str = input("Enter the first date (yyyy-mm-dd): ")
date1 = tuple(map(int, date1_str.split("-")))

date2_str = input("Enter the second date (yyyy-mm-dd): ")
date2 = tuple(map(int, date2_str.split("-")))

date1_obj = date(*date1)
date2_obj = date(*date2)

delta = date2_obj - date1_obj
num_days = delta.days

print(num_days, "days")

Enter the first date (yyyy-mm-dd): 1992-03-25
Enter the second date (yyyy-mm-dd): 2023-03-25
11322 days

Write a Python program to solve (x + y) * (x + y). Test Data : x = 4, y = 3
Expected Output : (4 + 3) ^ 2) = 49

In [2]:
x = float(input("Enter the value of x: "))
y = float(input("Enter the value of y: "))

result = (x + y) ** 2

print("Result:", result)

Enter the value of x: 5
Enter the value of y: 8
Result: 169.0

Write a Python program to compute the future value of a specified principal amount, rate of interest, and number of years. Test Data : amt = 10000, int = 3.5, years = 7
Expected Output : 12722.79

In [1]:
amt = float(input("Enter the principal amount: "))
interest = float(input("Enter the rate of interest: "))
years = int(input("Enter the number of years: "))

future_value = amt * ((1 + (interest/100)) ** years)

print("Future value:", round(future_value, 2))

Enter the principal amount: 4000
Enter the rate of interest: 6
Enter the number of years: 5
Future value: 5352.9

Write a Python program that removes duplicate elements from a given array of numbers so
that each element appears only once and returns the new length of the array. Sample Input: [0,0,1,1,2,2,3,3,4,4,4]
Sample Output:
The list of unique numbers: [0,1,2,3,4]
length of the unique list : 5

In [3]:
input_str = input("Enter an array of numbers, separated by spaces: ")

# Convert input string to list of integers
input_list = list(map(int, input_str.split()))

# Remove duplicates using set() function
unique_list = list(set(input_list))

print("The list of unique numbers:", unique_list)
print("Length of the unique list:", len(unique_list))

Enter an array of numbers, separated by spaces: 1 2 3 5 6 4 4 5 5
The list of unique numbers: [1, 2, 3, 4, 5, 6]
Length of the unique list: 6

Write a Python program to sort (ascending and descending) a dictionary by key value.

In [4]:
# Sample dictionary
my_dict = {5: 'e', 2: 'b', 3: 'c', 1: 'a', 4: 'd'}

# Sorting dictionary in ascending order by keys
asc_dict = dict(sorted(my_dict.items()))

print("Dictionary sorted by keys in ascending order:", asc_dict)

# Sorting dictionary in descending order by keys
desc_dict = dict(sorted(my_dict.items(), reverse=True))

print("Dictionary sorted by keys in descending order:", desc_dict)

Dictionary sorted by keys in ascending order: {1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}
Dictionary sorted by keys in descending order: {5: 'e', 4: 'd', 3: 'c', 2: 'b', 1: 'a'}

Write a Python program to sort (ascending and descending) a dictionary by key value. 9. Write a Python program to add key to a dictionary. Go to the editor
Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [5]:
# Sample dictionary
my_dict = {0: 10, 1: 20}

# Adding a new key-value pair to the dictionary
my_dict[2] = 30

print("New dictionary:", my_dict)

New dictionary: {0: 10, 1: 20, 2: 30}

Write a Pandas program to create and display a DataFrame from a specified dictionary data
which has the index labels. Sample Python dictionary data and list labels:
exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [6]:
import pandas as pd
import numpy as np

exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

print(df)

     name  score  attempts qualify
a    Arif   12.5         1     yes
b    Asir    9.0         3      no
c    Arik   16.5         2     yes
d    Anis    NaN         3      no
e    Anil    9.0         2      no
f  Ashish   20.0         3     yes
g   Anahi   14.5         1     yes
h    Alia    NaN         1      no
i   Alvin    8.0         2      no
j    Asim   19.0         1     yes